**/__pycache__/
**/bypy_config/
**/cache/
**/wandb/
**/runs/
**/temp/
/.idea

**/*.pt
**/*.pth
**/*.safetensors
!/workspace/datasets/**/*.pt

**/*pycache
**/*backup
**/checkpoint*
**/finetuned*
**/pretrain*
**/generated*
**/result*
**/test_ckpts
**/saves
data/
models/
results/
!prepare/data/

outputs/*
tmp/*
.cache/*
